.ru_moimir_button .ruButton{
    display: block;
    width: 97px;
    height: 17px;
    margin-bottom: -5px;
}
.ru_moimir .chicklets{
    margin-bottom: -4px;
}
.ru_odnoklassniki_button .ruButton{
    display: block;
    width: 56px;
    height: 17px;
    margin-bottom: -5px;
}
.ru_odnoklassniki .chicklets{
    margin-bottom: -4px;
}
.ru_vkontakte_button .ruButton{
    display: block;
    width: 66px;
    height: 17px;
    margin-bottom: -5px;
}
.ru_vkontakte .chicklets{
    margin-bottom: -4px;
}
.ru_yandex_button .ruButton{
    display: block;
    width: 90px;
    height: 17px;
    margin-bottom: -5px;
}
.ru_yandex .chicklets{
    margin-bottom: -4px;
}
.ru_moikrug_button .ruButton{
    display: block;
    width: 90px;
    height: 17px;
    margin-bottom: -5px;
}
.ru_moikrug .chicklets{
    margin-bottom: -4px;
}
.ruButton
{
    margin-right: 3px;
    margin-left: 3px;
}
.ruButton .chicklets
{
    padding-left: 16px;
    white-space: nowrap;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
}
.ruButton .ruLarge {
    display: inline-block;
    height: 32px;
    width: 32px;
}